@import "tailwindcss";

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.font-VDL-LogoJrBlack {
  font-family: "VDL-LogoJrBlack", sans-serif;
}
